* {
  margin: 0;
  padding: 0;
}
.table {
  width: 100%;
  height: 100%;
  display: table;
}
.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.img {
  max-width: 100vw;
  max-height: 100vh;
}
